<li class="list-group-item align-items-center">
<div class="row pl-3 mb-2" ng-switch="todo">
    <div class="col-2 custom-control custom-switch">
        <input (change)="onToggle(todo)" type="checkbox"  class="custom-control-input" id="switch{{todo.id}}">
        <label class="custom-control-label" for="switch{{todo.id}}"></label>
    </div>
    <div class="col-8" >
        {{todo.title}}
    </div>
    <div class="col-2">
        <button (click)="onDelete(todo)" type="button" class="btn btn-danger">
            <i class="fa fa-trash"></i>
        </button>
    </div> 
</div>
</li>